<h1> Tasks for <%=current_user.name%>:</h1>

<%current_user.tasks.each do |t|%>
<h4><%= t.title %></h4>
<p><%= t.content %></p>
<%end%>

<%=link_to "create a task", new_task_url(current_user.id) %>
<%=link_to "create a project", new_project_path %>
    